$main-fill: #e74e1e;
text {
  font-size: 12px;
  pointer-events: none;
}

text.parent {
  fill: $main-fill;
  font-size: 18px;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: $main-fill;
  fill-opacity: .1;
  stroke: darken($main-fill, 40%);
}

circle.parent:hover {
  stroke: lighten($main-fill, 40%);
  stroke-width: 1px;
}

circle.child {
  pointer-events: none;
}

*:hover {
  transition: all 0.2s;
}